<%= form_for @wiki, :html => {:class => "form-horizontal"} do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:title]) do %>
    <div class="col-sm-2">
      <%= f.label :title %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:body]) do %>
    <div class="col-sm-2">
      <%= f.label :body %><br />
    </div>
    <div class="col-sm-10">
      <%= f.text_area :body, rows: 3, class: "form-control" %>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:private]) do %>
    <div class="col-sm-2">
      <%= f.label :private, class: 'checkbox' do %>
    </div>
    <div class="col-sm-10">
      <%= f.check_box :private %> Private Wiki?
    </div>
      <% end %>
  <% end %>

  <%= form_group_tag(@wiki.errors[:private]) do %>
    <div class="col-sm-2">
      <%= f.label :draft, class: 'checkbox' do %>
    </div>
    <div class="col-sm-10">
      <%= f.check_box :draft %> Save for later?
    </div>
      <% end %>
  <% end %>

  <%= form_group_tag(@wiki.errors[:private]) do %>
    <div class="col-sm-2">
      <%= f.label :publish, class: 'checkbox' do %>
    </div>
    <div class="col-sm-10">
      <%= f.check_box :publish %> Publish Now?
    </div>
      <% end %>
  <% end %>

  <%= @wiki.publish_settings %>

  <div class="form-actions">
    <%= f.submit :draft, class: "btn btn-success" %>
  </div>
<% end %>