<%= form_for @wiki, :html => {:class => "form-horizontal"} do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:title]) do %>
    <div class="col-sm-2">
      <%= f.label :title %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:body]) do %>
    <div class="col-sm-2">
      <%= f.label :body %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :body, rows: 3, class: "form-control" %>
    </div>
  <% end %>

  <%= form_group_tag(@wiki.errors[:private]) do %>
    <div class="col-sm-2">
      <%= f.label :private, class: 'checkbox' do %>
    </div>
    <div class="col-sm-10">
      <%= f.check_box :private %> Make this Wiki private?
    </div>
      <% end %>
  <% end %>

  <%= form_group_tag(@wiki.errors[:scheduled]) do %>
    <div class="col-sm-2">
      <%= f.label :publish_type, as: "Type of Publish" %>
    </div>
    <div class="col-sm-10">
      <%= f.select :publish_type, @publish_status, prompt: true, class: "form-control" %>
    </div>
  <% end %>
  
  <% f.hidden_field :draft, value: "true" %>

  <div class="form-actions">
    <%= f.submit :Save, class: "btn btn-success" %>
  </div>
<% end %>