<div class="container">
  <p id="notice"><%= notice %></p>

   <h1><%= markdown @wiki.title %></h1> 

   <p><%= markdown @wiki.body %></p>

    <p>
      <b>Name:</b>
      <%= @wiki.user.full_name %>
      </p>

  <%= link_to 'Edit', edit_wiki_path(@wiki) %> |
  <%= link_to 'Back', wikis_path %>
</div>